
/* Part of the Chilli kit — https://chillikit.com | Free to use, modify, and share. Please keep this note. */
@charset "UTF-8";

/*----------------------------------------
    Minimum styling
----------------------------------------*/

body{
    background-color: #ffffff;
}
.page-container{
    width: 96%;
    height: auto;
    max-width: 1000px;
    margin: 20px auto;
    padding: 1rem;
    border-radius: 6px;
}
.message{
    background-color: #404040;
    color: #ffffff;
    padding: 0.5rem;
}
.navigation{
    display: inline-block;
    list-style: none;
}
.navigation li{
    display: inline-block;
    padding: 0.2rem;
    margin-right: 0.5rem;
}
.navigation a{
    text-decoration: none;
}
.userlist{
    max-height: 10rem;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    overflow-y: scroll;
}
.userlist a{
    display: block;
}

.postlist{
    margin-bottom: 1.3rem;
}
.postlist .draft:nth-child(odd){
    background-color: #f0f0f0;
}
.postlist .publiclink,
.postlist .titlelink{
    color: #000000;
}
.postlist .publiclink:hover,
.postlist .titlelink:hover{
    color: #000000;
    background-color: #d0d0d0;
}
.postlist .lastedit,
.postlist .status{
    font-size: 80%;
}
.postlist .pagination{
    display: block;
    margin: 1rem 0.5rem;
    color: #000000;
}

.post-edit-content{
    width: 100%;
    min-height: 10rem;
}
.post-edit-image{
    width: 100%;
}
.picturelist a{
    display: inline-block;
    width: 30%;
    height: auto;
}
.picturelist a img{
    width: 100%;
    height: auto;
}
.fileitem{
    display: block;
}
/*----------------------------------------
    /Minimum styling
----------------------------------------*/
/*----------------------------------------
    Chilli editor
----------------------------------------*/
.chilli-frame{
    border: 1px solid #808080;
}
.chilli-tools{
    width: 100%;
    border-bottom: 1px solid #808080;
}
.chilli-tools-spacer{
    padding-bottom: 3rem;
}
.chilli-button{
    display: inline-block;
    padding: 0.2rem 0.8rem;
    border: 0;
    font-size: 18px;
    vertical-align: top;
    background-color: transparent;
}
.chilli-editor{
    padding: 0.5rem;
    resize: vertical;
}
.color1{
    color: #ff0000;
}
.color2{
    color: #00b000;
}
/*----------------------------------------
    /Chilli editor
----------------------------------------*/
